<div class="main-panel ">

  <div class="content-wrapper bg-transparent">

    <div class="row">
      <!--Div lista de eventos--->
      <div class="col-lg-7 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/dashboard">Próximos agendamentos</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">

          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>ID do evento</th>
                  <th>Nome do evento</th>
                  <th>Hora do inicio</th>
                  <th>Data de inicio </th>
                  <th>Hora do termino</th>
                  <th>Nome do cliente</th>
                  <th>Nome do colaborador</th>
                  <th></th>
                </tr>
              </thead>
              {{#each eventos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{id_evento}}</td>
                  <td>{{nome_evento}}</td>
                  <td>{{hora_inicio}}</td>
                  <td>{{data_evento}}</td>
                  <td>{{hora_termino}}</td>
                  <td>{{nome_cliente}}</td>
                  <td>{{nome_colaborador}}</td>
                  <td>
                    <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>

      <!--DIV Ranking-->
      <div class="col-sm-5 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/dashboard">Histórico de Materiais Consumidos</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">

          <div class="table-responsive">
           <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>ID do consumo</th>
                  <th>Nome do material</th>
                  <th>Quantidade</th>
                  <th>Valor Total</th>
                  <th>Data de consumo</th>
                  <th></th>
                </tr>
              </thead>
              {{#each materiaisConsumidos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{id_consumo}}</td>
                  <td>{{nome}}</td>
                  <td>{{quantidade}}</td>
                  <td>{{valor_total}}</td>
                  <td>{{data_consumo}}</td>
                  <td>
                   <!-- <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-pencil"></i></a>-->

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <!--DIV tattoo realizadas-->
      <div class="col-lg-4 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/dashboard"> Quantidade de Tattos realizadas</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">

          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
          
              <tbody>
                <tr>
                  <td class="py-1"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
      <!--DIV Clientes-->
      <div class="col-lg-4 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/dashboard">Quantidade de clientes cadastrados</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">
          {{#each clientes}}
          {{#dataValues}}

          <p>Quantidade de clientes: {{quantCli}}</p>
          {{/dataValues}}
          {{/each}}
          
          
          
        
          
         <!--
          <div class="table-responsive">
         <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              {{#each eventos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>-->
        </div>
      </div>
      <!--DIV estoque-->
      <div class="col-lg-4 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/dashboard">Materiais em falta</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">

          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>ID do material</th>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Valor por unidade</th>
                  <th>data de atualização</th>
                  <th></th>
                </tr>
              </thead>
              {{#each materiaisFaltantes}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{id_material}}</td>
                  <td>{{nome}}</td>
                  <td>{{quantidade}}</td>
                  <td>{{valor_unidade}}</td>
                  <td>{{data_compra}}</td>
                  
                  <td>
                    <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i
                        class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
      <!-- fim DIV estoque-->
    </div>

  </div>

</div>