<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="row col-sm">

          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/listar-estoque">Listar materiais</a>
          </div>
          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/novo-estoque">Cadastar novo material</a>
          </div>
          <div id="ordem-ativo" class="col-auto pasta-ordem">
            <a href="/editar-estoque">Editar material</a>
          </div>

          <div class="card-body card-pasta">
            <table class="table table-striped ">
              <h4 class="card-title">Estoque</h4>
              <p class="card-description">
                Atualização de Material
              </p>
              <p class="card-description">Coloque "N/A", caso algum dado seja inexistente.</p>
              {{#each materiais}} 
              {{#dataValues}} 
              <form action="/atualizar-estoque" method="POST">
                <input type="hidden" name="id_material" class="form-control" id="id_material" value="{{id_material}}"> 
                <div class="mb-3 text-start">
                  <label class="form-label">Nome:</label>
                  <input type="text" name="nome" class="form-control" id="nome" required=" Dado Obrigatório!" value="{{nome}}">
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label">Quantidade:</label>
                  <input type="number" name="quantidade" class="form-control" id="quantidade" 
                  required=" Dado Obrigatório!"value="{{quantidade}}">
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label">Valor por unidade:</label>
                  <input type="number" step="0.01" name="valor_unidade" class="form-control" id="valor_unidade" required=" Dado Obrigatório!" value="{{valor_unidade}}">
                </div>
                <div class="mb-3 text-start">
                  <label class="form-label">Data de compra:</label>
                  <input type="date" name="data_compra" class="form-control" id="data_compra" 
                  required=" Dado Obrigatório!" value="{{data_compra}}">
                </div>
                <div class="mb-3 text-start">
                  <button type="submit" class="butn butn-primary mr-2">Atualizar</button>
                  <button class="butn butn-secondary ml-2"><a href="/listar-estoque">Cancelar</a></button>
                </div>
              </form>
            </table>
            {{/dataValues}}
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>





