<div class="main-panel">
  <div class="content-wrapper bg-transparent">
    
    <div class="row">
      <div class="col-sm-12 grid-margin stretch-card">

        
        <div class="row col-sm">
          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/listar-estoque">Lista Materias</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-estoque">Cadastrar Novo Material</a>
          </div>
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/historico-estoque">Histórico</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">
          <h4>Histórico</h4>
          <a href="/excluir-historico"><button class="butn butn-primary">Excluir histórico</button></a>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>ID do consumo</th>
                  <th>Nome do material</th>
                  <th>Quantidade</th>
                  <th>Valor Total</th>
                  <th>Data de consumo</th>
                  <th></th>
                </tr>
              </thead>
              {{#each materiaisConsumidos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{id_consumo}}</td>
                  <td>{{nome}}</td>
                  <td>{{quantidade}}</td>
                  <td>{{valor_total}}</td>
                  <td>{{data_consumo}}</td>
                  <td></td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

