
<div class="main-panel">
  <div class="content-wrapper bg-transparent">
    
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto pasta-ordem">
            <a href="/listar-estoque">Lista Materias</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-estoque">Cadastrar Novo Material</a>
          </div>
        </div>
        <div class="card-body card-pasta ">
                  
          <h4 class="card-title">Lista de materiais</h4>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>Material</th>
                  <th>Quantidade</th>
                  <th>Valor Unidade</th>
                  <th>Data de compra</th>
                  <th></th>
                </tr>
              </thead>
              {{#each materiais}}
              {{#dataValues}}
              <tbody>
                <tr>
                  <td>{{nome}}</td>
                  <td>{{quantidade}}</td>
                  <td>{{valor_unidade}}</td>
                  <td>{{data_compra}}</td>
                  <td>
                    <a href="/editar-estoque/{{id_material}}" style="color:inherit"><i class="bi bi-pencil"></i></a>
                    <!--<button class="butn butn-secondary"><a href="/consumir-estoque/{{id_material}}" style="color:inherit">Utilizar</a></button>-->
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
