<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        
        <div class="row col-sm">
          <div id="ordem-ativo" class="col-auto pasta-ordem">
            <a href="/listar-cliente">Listar clientes</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-cliente">Cadastrar novo cliente</a>
          </div>
        </div>

        <div class="card-body card-pasta bg-orange">
          <div class="table-responsive ">
            <table class="table table-striped">
              <h4 class="card-title">Lista de Cliente</h4>
              <!--
              <div class="form-group">
                <label class="form-label">Buscar CPF:</label>
                <input type="text" name="cpf" id="cpf" >
                <button id="btnBuscar" class="btn btn-secondary">Buscar</button>
              </div>-->
              <thead>
                <tr>
                  <th>ID Cliente</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Telefone</th>
                  <th>Email</th>
                  <th>Rede Social</th>
                  <th></th>
                </tr>
              </thead>
              {{#each clientes}} 
              {{#dataValues}} 
              <tbody>
                <tr>
                  <td class="py-1">{{id_cliente_ficha}}</td>
                  <td>{{nome}}</td>
                  <td>{{cpf}}</td>
                  <td>{{telefone}}</td>
                  <td>{{email}}</td>
                  <td>{{redeSocial}}</td>
                  <td>
                  <a href="/editar-cliente/{{id_cliente_ficha}}" style="color:inherit">           
                    <i class="bi bi-pencil"></i>
                  </a>  
                  <a href="/excluir-cliente/{{id_cliente_ficha}}" style="color:inherit">
                    <i class="bi bi-trash-fill"></i>
                  </a>
                  <a href="/listar-ficha/{{id_cliente_ficha}}" style="color:inherit">
                    <button type="button" class="btn btn-primary" id="confirmEdit">Ver ficha</button>
                  </a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}} 
              {{/each}}
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
