<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12  grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/agenda" >Agenda</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-agendamento">Novo Agendamento</a>
          </div>
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/listar-evento">Novo Agendamento</a>
          </div>
        </div>
        <div class="card-body card-pasta bg-orange">
          <div class="table-responsive ">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>Nome do evento</th>
                  <th>id do evento</th>
                  <th>Hora do inicio</th>
                  <th>Data de inicio </th>
                  <th>Hora do termino</th>
                  <th>Nome do cliente</th>
                  <th>Nome do colaborador</th>
                  <th></th>
                </tr>
              </thead>
              {{#each eventos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{nome_evento}}</td>
                  <td>{{id_evento}}</td>
                  <td>{{hora_inicio}}</td>
                  <td>{{data_evento}}</td>
                  <td>{{hora_termino}}</td>
                  <td>{{nome_cliente}}</td>
                  <td>{{nome_colaborador}}</td>
                  <td>
                    <a href="/editar-usuario/{{id_procedimento_API}}" style="color:inherit"><i class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_procedimento_API}}" style="color:inherit"><i class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>