<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
            <div class="col-lg-12 grid-margin stretch-card">

                <div class="row col-sm">
                    <div id="ordem-ativo" class="col-auto pasta-ordem">
                        <a href="/listar-colaboradores">Listar colaboradores</a>
                    </div>
                    <div id="ordem" class="col-auto  pasta-ordem">
                        <a href="/novo-colaborador">Cadastrar novo colaborador</a>
                    </div>
                </div>
                <div class="card-body card-pasta bg-orange">
                    <div class="table-responsive ">
                        <table class="table table-striped text-center">
                            <h4 class="card-title">Lista de Colaboradores</h4>
                              <!--Formulário de busca de colaboradores--->
                             <form class="forms-sample" action="/buscar-colaborador" method="POST" >
                                 <div class="form-group">
                                <label class="form-label"><strong>Buscar Colaborador pelo CPF:</strong></label>
                                 <input type="text" name="cpf" class="form-control busca-cpf" col="30" id="cpf">
                                </div>
                                <button type="submit" class="butn butn-primary mr-2">Buscar</button>
                                 </form>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Telefone</th>
                                    <th>Email</th>
                                    <th>Rede</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {{#each colaboradores}} {{#dataValues}} 
                            <tbody>
                                <tr>
                                    <td class="py-1">{{id_colaborador}}</td>
                                    <td>{{nome}}</td>
                                    <td>{{cpf}}</td>
                                    <td>{{telefone}}</td>
                                    <td>{{email}}</td>
                                    <td>{{redeSocial}}</td>
                                    <td>{{tipo}}</td>
                                    <td>
                                        <a href="/editar-colaborador/{{id_colaborador}}" style="color:inherit"><i class="bi bi-pencil"></i></a>
                                        <a href="/excluir-colaborador/{{id_colaborador}}" style="color:inherit"><i class="bi bi-trash-fill"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            {{/dataValues}} {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
