<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <!--<button class="btn btn-primary col-2 m-3"><a href="/novo-cliente" style="color:inherit">Ficha de Anamnese</a></button>-->
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">

        <div class="row col-sm">
          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/listar-cliente">Listar clientes</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-cliente">Cadastrar novo cliente</a>
          </div>
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/listar-ficha">Listar ficha</a>
          </div>
        </div>

          <div class="card-body card-pasta bg-orange ">
            <div class="table-responsive">
              <table class="table table-striped text-center">
                <h4 class="card-title">Dados da ficha</h4>
                <thead>
                  <tr>
                    <th>ID Cliente</th>
                    <th>1º Alergia</th>
                    <th>2º Alergia</th>
                    <th>1º Medicação</th>
                    <th>2º Medicação</th>
                    <th>1ºDoença</th>
                    <th>2º Doença</th>
                    <th></th>
                  </tr>
                </thead>
                {{#each cliente}} 
                {{#dataValues}} 
                <tbody>
                  <tr>
                    <td class="py-1">{{fk_cliente}}</td>
                    <td>{{alergia1}}</td>
                    <td>{{alergia2}}</td>
                    <td>{{medicacao1}}</td>
                    <td>{{medicacao2}}</td>
                    <td>{{doenca1}}</td>
                    <td>{{doenca2}}</td>
                   
                    <td>
                      <a href="/excluir-dados-ficha/{{fk_cliente}}" style="color:inherit"><i class="bi bi-trash-fill"></i></a>
                    </td>
                  </tr>
                </tbody>
                {{/dataValues}} 
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
