<div class="main-panel">
  <div class="content-wrapper bg-transparent">
    <div class="row">
      <div class="col-lg-12  grid-margin stretch-card">
        <div class="row col-sm">
          <div id="ordem" class="col-auto pasta-ordem">
            <a href="/agenda" >Agenda</a>
          </div>
          <div id="ordem" class="col-auto  pasta-ordem">
            <a href="/novo-agendamento">Novo Agendamento</a>
          </div>
          <div id="ordem-ativo" class="col-auto  pasta-ordem">
            <a href="/listar-evento">Listar Agendamentos</a>
          </div>
        </div>
        <div class="card-body card-pasta bg-orange">
          <h4 class="card-title">Listar</h4>
          <h5>Obs: Para alterar ou excluir os agendamentos, clique no ícone do lápis, e altere direto no site principal do Google Agenda! <br> O ícone de lixeira excluirá <strong>Apenas</strong> a visualização do agendamento no site!</h5>
          <div class="table-responsive ">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>ID do evento</th>
                  <th>Nome do evento</th>
                  <th>Hora do inicio</th>
                  <th>Data de inicio </th>
                  <th>Hora do termino</th>
                  <th>Nome do cliente</th>
                  <th>Nome do colaborador</th>
                
                  <th></th>
                </tr>
              </thead>
              {{#each eventos}} {{#dataValues}}
              <tbody>
                <tr>
                  <td class="py-1">{{id_evento}}</td>
                  <td>{{nome_evento}}</td>
                  <td>{{hora_inicio}}</td>
                  <td>{{data_evento}}</td>
                  <td>{{hora_termino}}</td>
                  <td>{{nome_cliente}}</td>
                  <td>{{nome_colaborador}}</td>
                 
                  <td>
                    <a href="https://calendar.google.com/calendar/u/0/r/week/2023/11/30?ctz=America/Sao_Paulo" target="_blank"><i class="bi bi-pencil"></i></a>

                    <a href="/excluir-agendamento/{{id_evento}}" style="color:inherit"><i class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              </tbody>
              {{/dataValues}}
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>